command script import ~/dev/Qt6Renderer/python/lldb/lookup.py

type summary add -F lookup.summary_lookup -e -h "QAtomicInt" --category Qt

type summary add -F lookup.summary_lookup -e -h "QBasicAtomicInt" --category Qt

type summary add -F lookup.summary_lookup -e -h "QBitArray" --category Qt
type synthetic add -l lookup.synthetic_lookup "QBitArray" --category Qt

type summary add -F lookup.summary_lookup -e -h "QByteArray" --category Qt
type synthetic add -l lookup.synthetic_lookup "QByteArray" --category Qt

type summary add -F lookup.summary_lookup -e -h "QChar" --category Qt

type summary add -F lookup.summary_lookup -e -h "QDate" --category Qt
type synthetic add -l lookup.synthetic_lookup "QDate" --category Qt

type summary add -F lookup.summary_lookup -e -h "QDateTime" --category Qt
type synthetic add -l lookup.synthetic_lookup "QDateTime" --category Qt

type summary add -F lookup.summary_lookup -e -h "QDir" --category Qt
type synthetic add -l lookup.synthetic_lookup "QDir" --category Qt

type synthetic add -l lookup.synthetic_lookup "QEvent" --category Qt

type summary add -F lookup.summary_lookup -e -h "QFile" --category Qt
type synthetic add -l lookup.synthetic_lookup "QFile" --category Qt

type summary add -F lookup.summary_lookup -e -h "QFileInfo" --category Qt
type synthetic add -l lookup.synthetic_lookup "QFileInfo" --category Qt

type summary add -F lookup.summary_lookup -e -h "QFlags" --category Qt -x

type summary add -F lookup.summary_lookup -e -h "QHash" --category Qt -x
type synthetic add -l lookup.synthetic_lookup "QHash" --category Qt -x

type summary add -F lookup.summary_lookup -e -h "QHostAddress" --category Qt

type summary add -F lookup.summary_lookup -e -h "QList" --category Qt -x
type synthetic add -l lookup.synthetic_lookup "QList" --category Qt -x

type synthetic add -l lookup.synthetic_lookup "QLocale" --category Qt

type summary add -F lookup.summary_lookup -e -h "QSharedPointer" --category Qt -x
type synthetic add -l lookup.synthetic_lookup "QSharedPointer" --category Qt -x

type summary add -F lookup.summary_lookup -e -h "QString" --category Qt
type synthetic add -l lookup.synthetic_lookup "QString" --category Qt

type summary add -F lookup.summary_lookup -e -h "QTemporaryFile" --category Qt
type synthetic add -l lookup.synthetic_lookup "QTemporaryFile" --category Qt

type summary add -F lookup.summary_lookup -e -h "QTemporaryDir" --category Qt
type synthetic add -l lookup.synthetic_lookup "QTemporaryDir" --category Qt

type summary add -F lookup.summary_lookup -e -h "QTime" --category Qt
type synthetic add -l lookup.synthetic_lookup "QTime" --category Qt

type summary add -F lookup.summary_lookup -e -h "QTimeZone" --category Qt
type synthetic add -l lookup.synthetic_lookup "QTimeZone" --category Qt

type summary add -F lookup.summary_lookup -e -h "QWeakPointer" --category Qt -x
type synthetic add -l lookup.synthetic_lookup "QWeakPointer" --category Qt -x

type summary add -F lookup.summary_lookup -e -h "QUrl" --category Qt
type synthetic add -l lookup.synthetic_lookup "QUrl" --category Qt

type summary add -F lookup.summary_lookup -e -h "QUuid" --category Qt

type synthetic add -l lookup.synthetic_lookup "QVariant" --category Qt

type category enable Qt
